<a href="https://colab.research.google.com/github/naybyal/PythonCrashCourse/blob/main/PythonCrash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
firstName = "ada"
lastName = "lovelace"
fullName = f"{firstName}\n{lastName}"
print(fullName.title())

Ada
Lovelace

stripping whitespace

In [ ]:
favoriteLanguage = " java "
print(type(favoriteLanguage))
# favoriteLanguage.rstrip()
# favoriteLanguage.lstrip().rstrip()
# this is similar to
favoriteLanguage.strip()

<class 'str'>

'java'

multiple assignment

In [ ]:
x,y,z = 10,20,30
print(x)
print(y)
print(z)

10
20
30

deleting a variable

for code optimizations

In [ ]:
myVar = 42
print(myVar)
# del myVar
print(myVar)  # will return an error

42
42

The Zen of Python

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
print(type(43.2))

<class 'float'>

In [ ]:
myVar = "guns n' roses"
print(myVar.title())
print(type(myVar))
isString = True;
print(isString)
print(type(isString))

Guns N' Roses
<class 'str'>
True
<class 'bool'>

NoneType - absence of a value


Type conversions
-implicit
-explicit

In [ ]:
x = int(5.6)
y = float("10")
print(type(x))
print(type(y))

# automatic/implicit type conversion
print("Value:", x+y)
print("Datatype", type(x+y))

<class 'int'>
<class 'float'>
Value: 15.0
Datatype <class 'float'>

In [ ]:
# syntax of print
# print(object(s), sep-separator, end=end, file=file, flush=flush)

In [ ]:
print('''
Used to be frightened of dying
Used to think death was the end.
That was before.. I'm not scared anymore
''')

Used to be frightened of dying
Used to think death was the end.
That was before.. I'm not scared anymore

In [ ]:
print("apple","banana","cherry")
print("apple","banana","cherry", sep="->")

apple banana cherry
apple->banana->cherry

In [ ]:
# end operator
print("Life could be a dream", end="\n\n")
print("Life could be a dreaaaam!")

Life could be a dream

Life could be a dreaaaam!

In [ ]:
# formatted strings
first = "Rosetta"
last = "Stoned"
fullName = f"{first} {last}"
print(fullName)
print(len(fullName))  # length -< passwd strngth

Rosetta Stoned
14

In [ ]:
first = "Rosetta"
print(first)
print(first.find('o'))
print(first.replace('s', 'x'))

Rosetta
1
Roxetta

In [ ]:
# input

myVar = int(input('Read number... '))
print("The number is", myVar)
print(type(myVar))

Read number... 5
The number is 5
<class 'int'>

In [ ]:
a = int(input('Reading num1: '))
b = int(input('Reading num2: '))
print('Sum = ', (a+b))
print('Sub = ', (a-b))
print('Prod = ', (a*b))
print('Div = ', (a/b))
print('a raised to b = ', (a**b))
print('floor = ', (a//b))
print('modulo = ', (a%b))

Reading num1: 10
Reading num2: 2
Sum =  12
Sub =  8
Prod =  20
Div =  5.0
a raised to b =  100
floor =  5
modulo =  0

In [ ]:
x=2
print(x==2)
print("x =",x)
xTwo = True;
xThree = False
print("x is not two :", not xTwo)
print("x is two or three :",xTwo or xThree)
print("x is two and three :",xTwo and xThree)

True
x = 2
x is not two : False
x is two or three : True
x is two and three : False

In [ ]:
x=2
print(x==2)
print("x =",x)
xTwo = True;
xThree = False
print("x is not two :", not xTwo)
print("x is two or three :",xTwo or xThree)
print("x is two and three :",xTwo and xThree)

True
x = 2
x is not two : False
x is two or three : True
x is two and three : False

In [1]:
score = int(input("Reading the score : "))
if score >= 90:
  print('A')
elif score<90 and score >= 80:
  print('B')
elif score<80 and score >= 70:
  print('C')
elif score<70 and score >= 60:
  print('D')
elif score<60:
  print('F')

Reading the score : 86
B

In [2]:
num = int(input("Reading the number : "))
if num > 0:
  print('positive')
elif num == 0:
  print('zero')
else:
  print('negative')

Reading the number : 5
positive

In [6]:
fruits = ['apple', 'banana', 'cherry', 'mango']
for i in fruits:
  print(i)

apple
banana
cherry
mango

In [7]:
values = range(0,4)
for i in values:
  print(i)

0
1
2
3

sum of natural numbers up to a given number n

In [15]:
sum = 0
n = int(input("Enter the limit : "))
for i in range(1,n+1):
  sum += i**2
print(sum)

Enter the limit : 3
14

multiplication table

In [18]:
n = int(input("Enter num : "))
for i in range(1,11):
    print(f"{i} x {n} = {i*n}")

Enter num : 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

even numbers from 1 to n

In [19]:
n = int(input("Enter num : "))
for i in range(1,11):
    if i%2 == 0:
      print(i)

Enter num : 10
2
4
6
8
10

prime numbers from 1 to n

In [39]:
n = int(input("Enter num: "))
for i in range (2, n + 1):
    for j in range (2, i):
        if i%j == 0:
            break
        else:
            print(i)

Enter num: 5
3
5
5
5

Printing the pattern:

In [36]:
n = int(input("Enter num: "))
count = 1
for i in range (1, n+1):
  for j in range (1, i+1):
    print(count, end=" ")
  print()
  count += 1

Enter num: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

while loop

In [40]:
count = 1

while count <= 5:
  print(count)
  count += 1

1
2
3
4
5

count the number of digits in a number

In [49]:
num = int(input("Enter the number : "))
count = 0
while num > 0:
  count += 1
  num //= 10
print(count)

Enter the number : 5
1

python functions

In [50]:
# def function_name(a,b):
  # function body
  # result = 'new function'
  # return result

def sum(a,b):
  return a+b

print(sum(5,9))

14

 **Recursion**

Factorial

In [52]:
def factorial(num):
  if num == 0:
    return 1
  return num*factorial(num-1)

print(factorial(5))

120

In [56]:
def greet():
  msg = 'hello'
  print('loc',msg)

greet()
# print('glob',msg)

loc hello

non local variables
  (not local to that particular function, yet not global)